.react-paginate {
    align-items: center;
    text-align: center;
  }
  
  .react-paginate ul {
    display: inline-block;
    margin-left: 20px;
    padding-left: 0;
  }
  
  .react-paginate li {
    display: inline-block;
    padding: 4px;
    margin: 5px 5px;
    background-color: #2e2e30;
    color: rgb(231, 231, 231);
    cursor: pointer;
    margin-right: 3px;
    border-radius: 2px;
    margin-bottom: 5px;
  }
  
  .react-paginate li a {
    padding: 4px 5px;
    display: inline-block;
    color: rgb(231, 231, 231);
    outline: none;
  }
  
  .react-paginate li.active {
    background: rgb(224, 224, 224);
    outline: none;
  }
  